* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.theme_white {
    --color1: #FEFFF6;
    --color2: #313131;
    --color3: #848D3D;
    --color4: #5C5C5C;
    --color5: #E0E3CA;

    --shadowColor: rgba(132, 141, 61, 0.30);
}

nav {
    background-color: var(--color1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 20px 0px var(--shadowColor);
    padding: 12px 0;
    z-index: 5;
}

.container {
    max-width: 1340px;
    margin: auto;
    padding: 0 20px;
    height: 100%;
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo path {
    fill: var(--color3);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.92, -0.49, 0.7, 1.65);
}

.nav__logo {
    z-index: 2;
}

.nav__logo_active path {
    fill: var(--color1);
}

.nav__links {
    gap: 60px;
    display: flex;
    z-index: 0;
}

.nav__links a {
    color: var(--color2);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

.nav__tools {
    gap: 20px;
    display: flex;
}

.nav__tools button {
    font-size: 20px;
    color: var(--color2);
    border: none;
    background: transparent;
    transition: 0.5s;
}

.nav__tools .button-user {
    font-size: 40px;
    position: relative;
}

.link-point::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--color2);
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: 0.5s;
}

.link-point {
    position: relative;
    transition: 0.5s;
}

.link-point:hover {
    color: var(--color3);
}

.link-point:hover::after {
    opacity: 100%;
    background-color: var(--color3);
}

.nav__tools button:hover {
    color: var(--color3);
    cursor: pointer;
}

.button-user span {
    color: var(--color3);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 12px);
    color: var(--color2);
    opacity: 0;
    transition: 0.5s;
}

.button-user:hover span {
    color: var(--color3);
    opacity: 100%;
}

.gamburger {
    display: none;
}


header {
    min-height: 820px;
    background-color: var(--color1);
    padding: 92px 0 80px 0;
}

.header__elements {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    justify-content: space-between;
}

h1 {
    color: var(--color2);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 32px 0;
}

h1 span {
    color: var(--color3);
}

.header__text p {
    color: var(--color4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0 0 52px 0;
    max-width: 457px;
}

.header__text a {
    border-radius: 30px;
    border: 1px solid var(--color3);
    background: var(--color3);
    padding: 23px 46px 18px 45px;
    color: var(--color1);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 100% */
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;
    margin-bottom: 63px;
}

.header__text a:hover {
    background-color: var(--color1);
    color: var(--color3);
}

.value {
    display: flex;
    gap: 12px;
    align-items: center;
}

.value span {
    color: var(--color4);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
    transform: translateY(4px);
}

.value hr {
    width: 1px;
    height: 40px;
    background-color: var(--color3);
    border: none;
}

.value i {
    color: var(--color3);
    font-size: 24px;
}

.header__rating .orders {
    color: var(--color4);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header__rating {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.stars {
    gap: 8px;
    display: flex;
}

.header__stat {
    display: flex;
    gap: 25px;
}

.header__stat div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header__stat span {
    color: var(--color3);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__stat p {
    color: var(--color4);
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.header__stat hr {
    width: 1px;
    height: 82px;
    background-color: var(--color3);
    border: none;
}

.header__text {
    min-width: 520px;
    max-width: 520px;
}

.header__image img {
    max-width: 572px;
    width: 100%;
}

section {
    padding: 80px 0;
}

.about-us__elements {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-us__img {
    width: 520px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--color5);
    position: relative;
}

.about-us__img img {
    position: absolute;
    width: 140%;
    top: -17%;
    left: -20%;
}

h2 {
    color: var(--color2);
    font-size: 48px;
    font-weight: 700;
}

h2 span {
    color: var(--color3);
}

.about-us h2 {
    margin: 0 0 20px 0;
}

.about-us__info p {
    width: 580px;
    color: var(--color4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0 0 44px 0;
}

.about-us__info p span,
.about-us__item p span {
    color: var(--color3);
    font-weight: 700;
}

.about-us__item {
    display: flex;
    gap: 20px;
}

.about-us__item>span {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: var(--color5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us i {
    font-size: 36px;
    color: var(--color3);
}

.about-us__item h3 {
    margin: 0 0 3px 0;
    color: var(--color2);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.about-us__item p {
    color: var(--color4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    max-width: 360px;
}

.img_2 {
    display: none;
}

section {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.categories__buttons {
    gap: 20px;
    display: flex;
    margin-bottom: 30px;
}

.categories__buttons button {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--color3);
    background: var(--color1);
    color: var(--color3);
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 100% */
    transition: 0.5s;
    cursor: pointer;
}

.categories__buttons button:hover {
    box-shadow: 0px 0px 8px 0px var(--color3);
}

.categories__buttons .categories__button_active {
    background-color: var(--color3);
    color: var(--color1);
}

.categories h2 {
    margin: 0 0 59px 0;
}

.categories-card {
    max-width: 400px;
    border-radius: 20px;
    background: var(--color1);
    box-shadow: 0px 2px 10px 2px var(--shadowColor);
    position: relative;
    flex-shrink: 0;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.categories-card__foto {
    border-radius: 20px 20px 0px 0px;
    background: var(--gray, #E3E3E3);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-card__info {
    padding: 20px 40px;
    gap: 38px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.categories-card__text {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.categories-card__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories-card__name h3 {
    color: var(--color2);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories-card__name span {
    color: var(--color2);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories-card__text p {
    color: var(--color4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.caegories-card__rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.caegories-card__rating span {
    color: var(--color4);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.caegories-card__rating hr {
    width: 1px;
    height: 16px;
    opacity: 0.5;
    background: var(--color4);
    border: none;
}

.caegories-card__rating div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--color3);
}

.caegories-card__rating i {
    font-size: 16px;
}

.categories-card__info button {
    padding: 19px 20px 19px 20px;
    width: 100%;
    border-radius: 80px;
    border: 1px solid var(--color3);
    background: var(--color1);
    color: var(--color3);
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.5s;
    cursor: pointer;
}
.categories-card__info button:hover{
    background-color: var(--color3);
    color: var(--color1);
}
.categories-card svg{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.categories__list{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color3);
    border-radius: 5px;
}
.categories__list::-webkit-scrollbar{
    height: 5px;
}
.categories__list::-webkit-scrollbar-thumb{
    background-color: var(--color3);
    border-radius: 5px;
}